/* general */
body, html{
      height: 100%;
}
a{
      text-decoration: none;
      color: black;
}
a:hover{
      text-decoration: none;
      color: black;
      opacity: 0.5;
}
.navbar, .light{
      font-weight: lighter;
}
.bold{
      font-weight: bold;
}
.center{
      text-align: center;
}
.right{
      text-align: right;
}
.form-control:focus{
      outline: 0px !important;
      box-shadow: none;
      -webkit-appearance:none;
}

/* generic class for main container*/
.pois{
      margin-top: 5vh;
      margin-bottom: 5vh;
}
.pois-col{
      margin-bottom: 3vh;
}
.pois-invalid, .pois-invalid:focus{
      border: 1.5px solid #cc0000;
      box-shadow: 0px 10px 10px -15px #993030;
}

/* mobile upper-right button */
button.navbar-toggler{
      border: 0px;
}
button.navbar-toggler:focus{
      outline-color: #f8f9fa;
}
/* log-in */
.log-in{
      top: 50%;
}
.log-in, .transaction > button, .form-group > label, input, small, select{
      font-weight: lighter;
}
.log-in, .transaction > button{
      width: 100%;
      border-radius: 3px;
      margin-top: 2vh;
}
.form-group > label{
      font-size: 3vh;
}
.form-group > input{
      border-radius: 3px;
}
.form-group > small{
      color: #993030;
}
/* transaction */

/* flex */
.pois-flex{
      display: flex;
}
.pois-flex > div > h1{
      margin-bottom: 0px;
}
.pois-flex > div > button{
      border-radius: 3px;
      width: 100%;
}