RewriteEngine On
Options All -Indexes
#ErrorDocument 404 /home
#ErrorDocument 403 /home

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Root Rewrites
RewriteRule ^home$ index.php [L,NC]
RewriteRule ^logout$ logout.php [L,NC]
RewriteRule ^inventory$ inventory.php [L,NC]
RewriteRule ^movement$ movement.php [L,NC]
RewriteRule ^reports$ reports.php [L,NC]
RewriteRule ^movement$ movement.php [L,NC]
RewriteRule ^movement/entry$ movement.php?action=entry [L,NC]
RewriteRule ^movement/out$ movement.php?action=out [L,NC]

